/*CREAZIONE NAV BAR NELLA PARTE SUPERIORE*/

nav {
    background-color: #333;
    height: 50px;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

nav li {
    margin: 0 10px;
}

/*INSIEME DI COLLEGAMENTI IPERTERSTUALI*/
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
}

nav a:hover {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    transition: all 0.3s ease;
}





/*BLOCCO PER CREARE IL BOX CHE CONTIENE IL FILM DA VISUALIZARE*/
.blocco {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    display: block;
    margin-right: 400px;
    margin-left: 400px;


}

.centro {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.centro img {
    display: block;
    width: 100%;
    height: auto;
}


/*STILI PER CREARE IL SISTEMA DI VALUTAZIONE PER I FILM*/
.stelle {
    display: inline-block;
    vertical-align: middle;
}

/*STELLE VUOTE*/
.stella {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('star.webp');
    background-size: contain;
    background-repeat: no-repeat;
}

/*STELLE COLORATE*/
.stella-piena {
    background-image: url('stella-piena.png');
}